body{
	margin: 0;
	font-family: 'domine', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
}

header{
	background-color: midnightblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
} 

header h1{
	color: white;
	font-size: 50px;
	
} 

header img{
	border-radius: 200px;
	width: 500px;
	border: 20px solid white;

} 

Main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px ;
}

main img{
	max-width: 100%;

}

h2{
	font-size: 30px;
	color: midnightblue;
	margin: 40px 0px 10px;
}

a{
	color: midnightblue;

}

a:hover{
	color: white;
	background-color: midnightblue;
}

footer{
	background-color: midnightblue;
	text-align: center;
	color: white;
	padding: 50px;

}

footer p{
	margin: 0px;
}

footer a{
	color: white;
	background-color: transparent;
} 


footer a:hover{
	color: lightskyblue;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: -10px;
}